In [1]:
#importing necessery libraries for future analysis of the dataset
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
import seaborn as sns
np.random.seed(2020)
import nltk
nltk.download('punkt') # one time execution
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
import re
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Student\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Student\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
data = pd.read_csv('train1205.csv')

In [3]:
data.isnull().sum()

review_id      0
review_text    2
stars          0
target         0
dtype: int64

In [4]:
data.shape

(8635403, 4)

In [5]:
data.dtypes

review_id       object
review_text     object
stars          float64
target           int64
dtype: object

In [6]:
data.dropna()

,review_id,review_text,stars,target
0,lWC-xP3rd6obsecCYsGZRg,Apparently Prides Osteria had a rough summer a...,4.0,1
1,8bFej1QE5LXp4O05qjGqXA,This store is pretty good. Not as great as Wal...,4.0,1
2,NDhkzczKjLshODbqDoNLSg,I called WVM on the recommendation of a couple...,5.0,1
3,T5fAqjjFooT4V0OeZyuk1w,I've stayed at many Marriott and Renaissance M...,2.0,0
4,sjm_uUcQVxab_EeLCqsYLg,The food is always great here. The service fro...,4.0,1
...,...,...,...,...
8635398,PHnqMOU1pzHbnUMk3Cg2zA,"In December, I called in (as a returning custo...",1.0,0
8635399,dViF8gg9745CszpekNvp2g,This guy is a moron that will stalk and harass...,1.0,0
8635400,7vNXRIClt-9rFzMXlrtMXA,"Yummy, great chew on the bagel\nFriendly staff...",5.0,1
8635401,Ho57jz6U-JjrGHpGWIGLNg,This used to be my car wash of choice. They di...,2.0,0
8635402,YNyurWy1ZIYEy1vXI7azOg,This is so highly rated for a reason. If you'r...,5.0,1

In [7]:
# 將文字標準化為僅為英文字元。此函式將刪除所有非英語字元。data['review_text'].apply(clean_non_english)
def clean_non_english(txt): 
    try: 
        txt = re.sub(r'\W+', ' ', txt)
        txt = txt.lower()
        txt = txt.replace("[^a-zA-Z]", " ")
        word_tokens = word_tokenize(txt) 
        filtered_word = [w for w in word_tokens if all(ord(c) < 128 for c in w)]
        filtered_word = [w + " " for w in filtered_word]
        return "".join(filtered_word)
    except:
        return np.nan

data["english_text"] = data['review_text'].apply(clean_non_english)

In [8]:
data["english_text"].head(5)

0    apparently prides osteria had a rough summer a...
1    this store is pretty good not as great as walm...
2    i called wvm on the recommendation of a couple...
3    i ve stayed at many marriott and renaissance m...
4    the food is always great here the service from...
Name: english_text, dtype: object

***我們甚至可以通過刪除停止詞來做得更好。停詞是出現在英語句子中對意思沒有多大幫助的常見詞。我們將使用nltk包來過濾stopwords。由於我們的主要任務是使用word cloud將tweet的主題視覺化，所以這一步需要避免使用“the，”“a，”等常見單詞。但是，如果你的任務需要完整的句子結構，比如下一個單詞預測或語法檢查，你可以跳過這一步。

In [ ]:
stop_words = set(stopwords.words('english'))
def clean_text(english_txt):
    try:
        word_tokens = word_tokenize(english_txt)
        filtered_word = [w for w in word_tokens if not w in stop_words]
        filtered_word = [w + " " for w in filtered_word]
        return "".join(filtered_word)
    except:
        return np.nan

data['clean_text'] = data['english_text'].apply(clean_text)